{% extends 'mainapp/base.html' %}
{% load static %}
{% block middle %}
        <div class="middlecart">
            <h2>Корзина</h2>
            <div class="fullcart">
                <div class="itemincart">
                    {% if basket %}
                        {% for item in basket %}
                            {% include 'basketapp/include/inc_basket_product_item.html' %}
                        {% endfor %}
                    {% else %}
                    <div class="emptycart">
                        <p>ВАША КОРЗИНА ПУСТА!</p>
                    </div>
                    {% endif %}

                </div>
                <div class="orderincart">
                    <h2>ПОДЫТОГ</h2>
<!--                    <p>ЕСТЬ ПРОМОКОД?</p>-->
                    <input type="text" class="inpu" placeholder="Введите промокод">
                    <a href="#" class="buttoncart1">Применить</a>
                    <p><b>Стоимость заказа</b> 600 Руб</p>
                    <p><b>Доставка</b> 199 Руб</p>
                    <hr class="basket-hr">
                    <p><b>Итого</b> 799 Руб</p><br>

                    <div class="description">
                        <h4>Мы принимаем</h4> Наличными при получениии <br> <img src="{% static 'img/visa_4.jpg'%}" alt=""> <br>
                        <p class="BodyTextart"> <span>30-дневный период возврата товара, комиссия за возврат и возврат стоимости за неотправленный товар. Прочитать о</span> <a href="#!" type="button">возврате и возмещении стоимости товара.</a></p>
                        <a href="#" class="buttoncart">ПЕРЕЙТИ К ОФОРМЛЕНИЮ ЗАКАЗА</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}