<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>{{ title|title }}</title>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/fontawesome.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    {% endblock %}


    {% block js %}
        <script type="text/javascript" src="{% static 'js\jquery-3.5.1.min.js' %}"></script>
        <script defer type="text/javascript" src="{% static 'js\basketapp.js' %}"></script>
        <script defer type="text/javascript" src="{% static 'js\custom.js' %}"></script>
    {% endblock %}
</head>

<body>
    <div class="container">
        {% block header %}
        <div class="header">
            <div class="menu">
                <p class="logo"><a href="{% url 'index' %}">NETAQUE</a></p>
                <p><a href="{% url 'contacts' %}">Написать нам</a></p>
            </div>
            <div class="CartSearch">
                <div class="searchform"><input class="search" type="text" placeholder="Поиск товара" value="">
                    <i class="search-icon"><img src="/static/img/search.svg" alt=""></i>
                </div>
                <div class="cartLoginIcon">
                    <div class="d1">
                        <a class="iconcart" href="{% url 'basket:view' %}"><img src="{% static 'img/cart1.png' %}" alt=""></a>
                        {% if basket %}
                            <span class="basket-counter">{{ basket.0.total_quantity }}</span>
                        {% endif %}
                        <div class="block">
                            {% if basket %}
                                {% for item in basket %}
                                    {% include 'basketapp/include/inc_basket_preview_item.html' %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% include 'mainapp/include/inc_login_logout.html' %}
                </div>
            </div>
            <hr style="clear: both">
        </div>
        {% endblock %}
        {% block middle %}

        {% endblock %}
        {% block footer %}
        <div class="footer"></div>
        {% endblock %}
    </div>
</body></html>