{% extends 'mainapp/base.html' %}
{% load static %}
{% block middle %}
        <div class="middlecart">
            <div class="emptycart">
                <h2>Корзина</h2>
                <p>ВАША КОРЗИНА ПУСТА!</p>
            </div>
            <div class="fullcart">
                <div class="cartimg">
                    <img src="/static/img/0-gold-1-768x768.jpg" alt="">
                </div>
                <div class="order">
                    <p><b>102см Фольгированный шар 0</b></p>
                    <p>Артикул 0000</p>
                    <p>Цвет Золотой</p>
                    <p>Количество 1шт.</p>
                    <p><b>Итого 300р</b> </p>
                </div>
            </div>
        </div>
{% endblock %}