{% extends 'mainapp/base.html' %}
{% load static %}
{% block middle %}
        <form action="#">
            <div class="form">
                <fieldset>
                    <legend><b>Напишите нам</b></legend>
                    <div class="formtext">ФИО <br><input class="inpu" type="text" required placeholder="Введите Ваше ФИО"> <br>
                        Email <br><input class="inpu" type="text" required placeholder="Ваш Email "> <br>
                        Тема <br><input class="inpu" type="text" required placeholder="Тема обращения"> <br>
                        Ваш вопрос <br>
                        <textarea class="inpu" rows="6" cols="48" placeholder="Введите ваш вопрос"></textarea> <br>
                    </div>
                    <div class="contactbutt"><input type="submit"> <input type="reset" value="Удалить"></div>
                </fieldset>
            </div>
        </form>
{% endblock %}