<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="menu">
                <p class="logo"><a href="/">NETAQUE</a></p>
                <p><a href="/contacts/">Написать нам</a></p>
            </div>
            <div class="d1">
                <a class="cartlink" href="/cart/"><img src="/static/img/cart1.png" alt=""></a>
                <div class="block">
                    <div class="fullcartblock">
          <div class="cartimgblock">
           <img src="/static/img/0-gold-1-768x768.jpg" alt="">
           </div>
            <div class="orderblock">
            <p><b>102см Фольгированный шар 0</b></p>
            <p>Артикул 0000</p>
            <p>Цвет Золотой</p>
            <p>Количество 1шт.</p>
            <p><b>Итого 300р</b> </p>
            </div>
        </div>
                 <div class="fullcartblock">
          <div class="cartimgblock">
           <img src="/static/img/0-gold-1-768x768.jpg" alt="">
           </div>
            <div class="orderblock">
            <p><b>102см Фольгированный шар 0</b></p>
            <p>Артикул 0000</p>
            <p>Цвет Золотой</p>
            <p>Количество 1шт.</p>
            <p><b>Итого 300р</b> </p>
            </div>
        </div>
                 <div class="fullcartblock">
          <div class="cartimgblock">
           <img src="/static/img/0-gold-1-768x768.jpg" alt="">
           </div>
            <div class="orderblock">
            <p><b>102см Фольгированный шар 0</b></p>
            <p>Артикул 0000</p>
            <p>Цвет Золотой</p>
            <p>Количество 1шт.</p>
            <p><b>Итого 300р</b> </p>
            </div>
        </div>
                </div>
            </div>
            
            <div class="searchform"><input class="search" type="text" placeholder="Поиск товара" value="">
                <i class="search-icon"><img src="/static/img/search.svg" alt=""></i></div>
            <hr style="clear: both">
        </div>
        <div class="middle">
            <h2>Каталог товара</h2>
            <div class="items">
                <div class="itemblock"><a href="#<!-- item.html-->"><img src="/static/img/0-gold-1-768x768.jpg" alt=""></a>
                    <p class="text"><a href="#<!--item.html-->">Фольгированный шар 0</a></p>
                    <p class="color">Золотой</p>
                    <div class="sel">
                        <p class="text">300р</p>
                        <select aria-required="false" class="select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="button"><button class="buttom">Добавить в корзину</button></div>
                </div>
                <div class="itemblock"><a href=""><img src="/static/img/1-497x1024-1-768x768.jpg" alt=""></a>
                    <p class="text"><a href="">Фольгированный шар 1</a></p>
                    <p class="color">Золотой</p>
                    <div class="sel">
                        <p class="text">300р</p>
                        <select aria-required="false" class="select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="button"><button class="buttom">Добавить в корзину</button></div>
                </div>
                <div class="itemblock"><a href=""><img src="/static/img/2-gold-768x768.jpg" alt=""></a>
                    <p class="text"><a href="">Фольгированный шар 2</a></p>
                    <p class="color">Золотой</p>
                    <div class="sel">
                        <p class="text">300р</p>
                        <select aria-required="false" class="select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="button"><button class="buttom">Добавить в корзину</button></div>
                </div>
                <div class="itemblock"><a href=""><img src="/static/img/3-672x1024-1-768x768.jpg" alt=""></a>
                    <p class="text"><a href="">Фольгированный шар 3</a></p>
                    <p class="color">Золотой</p>
                    <div class="sel">
                        <p class="text">300р</p>
                        <select aria-required="false" class="select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="button"><button class="buttom">Добавить в корзину</button></div>
                </div>

            </div>
        </div>
        <div class="footer"></div>
    </div>
</body></html>