{% extends 'mainapp/base.html' %}
{% load extra_filters %}
{% load static %}
{% block middle %}
        <div class="middle-item">
            <div class="descrip">
                <div class="slider-pic">
                    <a href=""><img src="/media/{{ product.image }}" alt=""></a>
                </div>
                <div class="slider-item-text">
                    <h2>{{ product.short_desc }}</h2>
                    <p class="color">Золотой</p>
                    <p class="itemtext">{{ product.description }}<br>
                    </p>
                    <p class="price">{{ product.price }}</p>
                    <select aria-required="false" class="select">

                    {% for i in product.quantity|range %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}

                    </select>
                   <button data-brackets-id="1876" class="buttom">Добавить в корзину</button>
                    
                </div>
            </div>
            <div class="related">
                <div class="related-products">
                    <h2>Смотрите также</h2>
                </div>
                <div class="relatedpics">

                    {% for item in suggestions %}
                        <a href="{% url 'products:product' item.id %}"><img src="/media/{{ item.image }}" alt=""></a>
<!--                    <a href="#"><img src="img/1-497x1024-1-768x768.jpg" alt=""></a>-->
<!--                    <a href="#"><img src="img/2-gold-768x768.jpg" alt=""></a>-->
<!--                    <a href="#"><img src="img/3-672x1024-1-768x768.jpg" alt=""></a>-->
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}