{% extends 'mainapp/base.html' %}
{% load extra_filters %}
{% load static %}
{% block middle %}
        <div class="middle-item">
            <div class="descrip">
                <div class="slider-pic">
                    <a href=""><img src="{{ product.image|product_image }}" alt=""></a>
                </div>
                <div class="slider-item-text">
                    <h2>{{ product.short_desc }}</h2>
                    <p class="color">Золотой</p>
                    <p class="itemtext">{{ product.description }}<br>
                    </p>
                    <p class="price">{{ product.price }}</p>
                    <div class="selcart">
                        <div class="amount">
                            <span onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="down">-</span>
                                <input type="number" value="1" min="0" max="{{ product.quantity }}">
                            <span onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="up">+</span>
                        </div>
                    </div>
                   <a href="{% url 'basket:add' product.pk %}" class="button1">Добавить в корзину</a>
                    
                </div>
            </div>
            <div class="related">
                <div class="related-products">
                    <h2>Смотрите также</h2>
                </div>
                <div class="relatedpics">

                    {% for item in suggestions %}
                        <a href="{% url 'products:product' item.id %}"><img src="{{ item.image|product_image }}" alt=""></a>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}