/*ОБЩИЕ ПРАВИЛА*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
     

}

.container {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5f5f5;
    min-height: 1300px;
}

.header {
    padding-top: 60px;
}


.cart {
    float: right;
    margin-right: 15px;
    margin-top: -50px;
    clear: both;
}

.menu {
    margin-bottom: 30px;

}

.menu a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 26px;



}

.logo a {
    font-size: 78px;
    font-weight: bold;

}

.menu a:hover {
    color: #772E99;
}


.poisk {
    border: none;
    border-radius: 0;
    color: #000;
    text-transform: uppercase;
    float: left;
    height: 25px;
    padding: 5px 7px;
    border: 1px solid #8000ff;
    border-radius: 3px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.middle h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.text {
    font-size: 30px;
    color: black;
    text-align: center;
}

.color {
    color: #8F00D1;
    font-size: 22px;
    text-align: center;

}

.text a {
    text-decoration: none;
    color: black;
}

.itemblock {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 7px;
    margin: 15px 20px 15px 20px;
    background-color: white;

}


.items img {
    height: 300px;
    width: 300px;


}

.itemblock:hover {
    box-shadow: 0 5px 15px 5px rgba(33, 33, 33, 0.35);
}

.button {
    display: flex;
    justify-content: center;


}

button:focus {
    outline: none !important
}

.buttom {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 23px;
    background-color: #5B0085;
    width: 250px;
    height: 45;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    letter-spacing: -0.5px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 20px;
    cursor: pointer;
    border-style:


}


.buttom:hover {
    box-shadow: 0 7px 6px 1px rgba(33, 33, 33, 0.35);
    background-color: #7f3fbf;
}

}


.footer {
    margin-top: 400px;
    height: 90px;
    background-color: gainsboro;
}


.descrip {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.slider-item-text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: center;

}

.slider-item-text h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.itemtext {
    max-width: 400px;
    color: #380052;
    margin-top: 20px;
    font-size: 22px;

}

.slider-pic img {
    width: 400px;
    color: white;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 7px;
 
   
}

.relatedpics img {
    height: 120px;
    width: 120px;
}

.related-products {
    margin-top: 70px;
    margin-left: 10px;
}

.related-products a {
    text-decoration: none;
    color: black;


}

.relatedpics img {
    color: white;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 7px;
    margin: 15px 10px 15px 10px;
}

.price {
    margin-bottom: 10px;
    font-size: 30px;
}

@media (max-width: 930px) {
    .menu {
        display: flex;
        flex-direction: column;
        clear: both;
    }


    .items,{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .poisk {
        max-width: 60px;
    }

    .descrip {
        display: flex;
        flex-direction: column;
    }
    .slider-pic {
          margin-left: 50px;
    }

    .slider-item-text p,
    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .related-products,
    .relatedpics {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider-item-text h2 {
        font-size: 26px;
    }

    .cartlink img {
        float: right;

    }

}

.descrip,
.relatedpics,
.related-products {
    display: flex;
    justify-content: center;
}

.inpu {
    text-transform: capitalize;
    font-size: 20px;
    width: 400px;

}

.form {
    display: flex;
    justify-content: center;
    margin: 40px;


}

.formtext {
    margin-left: 5px;
    font-size: 26px;
    padding: 5px 40px 40px 40px;
    text-align: center;

}

.contactbutt input {
    width: 100px;
    font-size: 16px;
}

.adress > p,
adress > h2 {
    font-size: 150%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.emptycart {
    text-align: center;
    font-size: 300%;
}


.search {
    padding: 0 5px;
    height: 23px;
    width: 300px;
    border: 1px solid #000;
    color: #666;
    position: relative;
    font-size: 18px;
}

.search-icon img {
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    margin-left: -25px;
    margin-top: 2px;


}

.select {
    background-color: #fff;
    border: 1px solid #d0d0d0;
    color: #222;
    font-size: 1.3rem;
    height: 40px;
    padding: 0 28px 0 12px;
    margin: 0 0 10px 50px;

}

.fullcart {
    margin-top: 50px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    display: flex;
    justify-content: center;
    background-color: white;



}

.cartimg img {
    width: 200px;


}

.order p {
    font-size: 19px;
    padding-left: 12px;
    display: flex;
    align-items: stretch;
    line-height: 41px;
}

.cartlink {
    float: right;
    margin: 0 30px 10px 0;

}

.searchform {
    margin: 0 0 10px 30px;

}

.sel {
    display: flex;
    justify-content: center;
}

.block {
    display: none;
    margin-top: 50px;
    margin-right: -70px;
    position: absolute;
    

}



.d1:hover .block {
    display: block;
    flex-direction: column;
    

}

.cartimgblock img {
    width: 60px;
    float: left;
    

}

.orderblock {
    font-size: 19px;
    padding-left: 12px;
    display: flex;
    align-items: stretch;
    line-height: 30px;
    

}

.fullcartblock {
    background-color: white;
    border: 0.1px solid #dbdbdb;
    margin: 1px 0 1px 0;
}
 
.login_icon {
    width: 45px;
    float: right;
}

.login_icon img {
    max-height: 33px;
    max-width: 40px;
}

.login_icon .text {
    font-size: 17px;
    text-align: left;
}